body {
	text-align: center; font-family: arial, sans-serif; color: #494949; font-size: 13px; background-color: #fff;
	}
	
a:link, a:hover, a:active, a:visited {
	color: #ca0001;
	}

#head, #foot {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 164px;
	text-align: center;
	/* [disabled]background: #a72e11 url('../images/top-gradient.gif') top left repeat-x; */
	}

#head img {
	width: 943px;
	height: 104px;
	margin: 30px auto;
	}

#content {
	position: relative; top: 0; left: 0; width: 943px; height: auto; margin: 0px auto; overflow: hidden;
	}

#foot {
	height: 120px;
	margin: 100px 0px 0px 0px;
	background-color: #ddd;
	background-image: url(../images/bottom-gradient.gif);
	border-top: 1px solid #a3a3a3;
	text-align: center;
	width: 100%;
	background-repeat: repeat-x;
	background-position: left top;
	position: relative;
	}

#footer-content {
	position: relative; top: 0; left: 0; width: 943px; height: auto; margin: 0px auto;
	}

#footer-content img {
	float: left;
	margin: 16px 0px 0px 32px;
	}

#footer-content p {
	float: left;
	width: 300px;
	height: auto;
	margin: 16px 0px 0px 32px;
	font-size: 11px;
	line-height: 1.25em;
	}
	
#banner_img {
	position: relative; top: 0; left: 0; width: 943px; height: 141px; margin: 25px auto;
	}

#left-col {
	float: left;
	top: 0;
	left: 0;
	width: 8em;
	height: auto;
	margin: 0px 0px 0px 0px;
}
#crc_menu {
	margin: 0px 0px 0px 26px;
}
	
#fat-col, #slim-col {
	float: left; top: 0; left: 0; width: 500px; height: auto; margin: 0px 0px 0px 42px;
	}
	
#one-col {
	float: left; top: 0; left: 0; width: 720px; height: auto; margin: 0px 0px 0px 42px; font-size: 14px;
	}

#right-col {
	float: left; top: 0; left: 0; width: 200px; height: auto; min-height: 20px; margin: 0px 0px 0px 30px;
}

#img.map {
	float: left; top: 0; left: 0; width: 386px; height: auto; min-height: 20px; margin: 0px 0px 0px 25px;
}
	
p.home {
	font-size: 14px; line-height: 1.8em;
	}
	
#right-col img {
	float: left; width: 200px;
}
	
#slim-col {
	width: 320px;
}
	
#slim-col p, .lab {
	margin: 0px 0px 15px 0px; font-size: 12px; line-height: 1.6em;
}
	
img.map {
	width: 386px;
}
	
h1 {
	margin: 10px 0px 6px 0px;
	font-size: 20px;
	color: #ca0001;
	}
#title {
	margin: 0px 0px 15px 0px;
	font-size: 24px;
	color: #ca0001;
	font-weight: bold;
}
	
h2 {
	margin: 0px 0px 4px 0px; font-size: 14px; font-weight: bold;
	}
	
h3 {
	font-size: 15px; font-weight: bold;
	}
	
h4 {
	font-size: 11px; font-weight: normal; font-style: italic; color: #ca0001;
	}
	
h5 {
	font-size: 13px; font-weight: bold; margin: 25px 0px 15px 0px;
	}
	
.hr {
	position: relative; top: 0; left: 0; width: 100%; height: 1px; margin: 0px 0px 15px 0px; background-color: #dadada;
	}
	
#one-col p, #fat-col p {
	line-height: 18px; margin: 0px 0px 14px 0px;
}
.name {
	margin: 0px 0px 4px 0px;
	font-size: 15px;
	font-weight: bold;
}
.inst {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	color: #ca0001;
}
	
.lab {
	display: block; position: relative; top: 0; left: 0; font-size: 14px; margin: 0px 0px 25px 0px;
	}
	
.title {
	display: block; margin: 0px 0px 3px 0px; font-size: 14px; font-weight: bold; color: #494949; line-height: 1.6em
	}
	
.linkred {
	display: block; margin: 0px 0px 3px 0px; font-size: 14px; font-weight: bold; text-decoration: underline; color: #cc0200;
	}
.room {
	font-size: 14px; font-weight: bold; line-height: 1.3em
}
	
table.members {
	width: 700px; height: auto; font-size: 13px;
}
	
table.members th {
	padding: 5px 0px 2px 0px; color: #b5b5b5; font-weight: bold; text-transform: uppercase;
}
	
table.members tr.table-head {
	border-bottom: 1px solid #b5b5b5;
}
	
table.members td {
	padding: 8px 10px 8px 0px;
}
	
table.members td.name {
	width: 110px;
}
	
table.members td.department {
	width: 250px;
}
	
table.members td.phone {
	width: 100px;
}
	
table.members td.email {
	width: 100px;
}
	
ul.address {
	margin: 0px 0px 14px 14px;
	}
	
ul.address li {
	height: 14px; font-weight: bold;
	}
	
ul.bullets {
	list-style-type: disc;
	}
	
ul.bullets li {
	margin: 0px 0px 5px 14px; line-height: 18px;
	}
