body {
    font-family: arial, sans-serif; 
    color: #494949;
    font-size: 13px; 
    background-color: #fff;
}

/* Page structure */

#head, #foot {
    text-align: center; /*this appears to center the header image*/
    padding: 30px auto;
}

#content {/*ugh. Where is a good cross-browser basic layout? I don't want to troubleshoot all these pieces.*/
    position: relative; 
    top: 0; 
    left: 0; 
    width: 943px; 
    height: auto; 
    margin: 0px auto; 
    overflow: hidden;
}

#foot {
    height: 120px;
    margin: 100px 0px 0px 0px;
    background-color: #ddd;
    background-image: url(../images/bottom-gradient.gif);
    border-top: 1px solid #a3a3a3;
    text-align: center;
    width: 100%;
    background-repeat: repeat-x;
    background-position: left top;
    position: relative;
}

#footer-content {
    position: relative; 
    top: 0; 
    left: 0; 
    width: 943px; 
    height: auto; 
    margin: 0px auto;
}

#footer-content img {
    float: left;
    margin: 16px 0px 0px 32px;
}

#footer-content p {
    float: left;
    width: 300px;
    height: auto;
    margin: 16px 0px 0px 32px;
    font-size: 11px;
    line-height: 1.25em;
}

#left-col {
    float: left;
    top: 0;
    left: 0;
    width: 8em;
    height: auto;
    margin: 0px 0px 0px 0px;
}

#one-col {
    float: left; top: 0; left: 0; width: 720px; height: auto; margin: 0px 0px 0px 42px; font-size: 14px;
}

/* Text Styling*/

a:link, a:hover, a:active, a:visited {
    color: #ca0001;
}

h1 {
    margin: 10px 0px 15px 0px;
    padding: 0px 0px 5px 0px;
    font-size: 20px;
    color: #ca0001;
    border-bottom: 2px solid #BBB;
}

h2 {
    margin: 0px 0px 4px 0px; font-size: 14px; font-weight: bold;
}

h3 {
    font-size: 15px; font-weight: bold;
}

h4 {
    font-size: 11px; font-weight: normal; font-style: italic; color: #ca0001;
}

h5 {
    font-size: 13px; font-weight: bold; margin: 25px 0px 15px 0px;
}

.hr {
    width: 100%; 
    height: 2px; 
    margin: 10px 0px 10px 0px; 
    background-color: #BBB;
}
