/* Page structure */
html, body {
    padding: 0px;
    margin: 0px;
}
#container {
    padding: 5px;
    width: 960px;
    margin: 20px auto;
}
#header {
    height: 130px;
}
#sidebar {
    width: 150px;
    float: left;
}
#content {
    width: 780px;
    float: right;
}
#footer {
    height: 150px; /*uncertain of implications this has on media queries, need it because the footer no longer has any content that gives it height*/
    clear: both;
}

/*************************************
Media queries for various screen sizes
**************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
    
    #container {
	width: 94%;
	}
    #content {
	width: 65%;
	}
    #sidebar {
	width: 30%;
	}

}

/* for 700px or less */
@media screen and (max-width: 700px) {

    #content {
	width: auto;
	float: none;
	}
    #sidebar {
	width: auto;
	float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

    #header {
	height: auto;
	}
    h1 {
	font-size: 24px;
	}
    #sidebar {
	display: none;
	}

}

/*************************
Styling main page elements 
**************************/
body {
    font-family: arial, sans-serif; 
    color: #494949;
    font-size: 13px; 
    background-color: #fff;
}

#footer {
    background-color: #fff;
    background-image: url(../images/bottom-gradient.gif);
    border-top: 1px solid #a3a3a3;
    background-repeat: repeat-x;
    background-position: left top;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

#footer img {
    margin-left: 16px;
    margin-right: 16px;
}

/* Text Styling*/

a:link, a:hover, a:active, a:visited {
    color: #ca0001;
}

h1 {
    margin: 10px 0px 15px 0px;
    padding: 0px 0px 5px 0px;
    font-size: 20px;
    color: #ca0001;
    border-bottom: 2px solid #BBB;
}

h2 {
    margin: 0px 0px 4px 0px; font-size: 14px; font-weight: bold;
}

h3 {
    font-size: 15px; font-weight: bold;
}

h4 {
    font-size: 11px; font-weight: normal; font-style: italic; color: #ca0001;
}

h5 {
    font-size: 13px; font-weight: bold; margin: 25px 0px 15px 0px;
}

.hr {
    width: 100%; 
    height: 2px; 
    margin: 10px 0px 10px 0px; 
    background-color: #BBB;
}
