@media (max-width: 768px) {
    html, body, a, p, ul, li {
        font-size: 40px;
    }
}

@media (max-width: 992px) {
    html, body, a, p, ul, li {
        font-size: 30px;
    }
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.75em;
}

.masthead {
    margin-left: auto;
    margin-right: auto;
}

/*h1 {
    font-size: 1.6em;
    font-weight: bold;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}*/

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}
