<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" ng-app><!-- InstanceBegin template="/Templates/two_col.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!-- InstanceBeginEditable name="doctitle" -->
	<title>Cognitive Rhythms Collaborative</title>
	<!-- InstanceEndEditable -->
	<style type="text/css" media="all">
		@import url("css/reset.css");
		@import url("css/cbd.css");
    </style>	
	
	<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="css/ie6.css" />
	<![endif]-->
	
<script src="SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
<script src="js/poster_session.js"></script>
<link href="css/crc_menu.css" rel="stylesheet" type="text/css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body ng-controller="SessionCtrl">

<div id="head">
<a href="index.html">
<img src="img/CRC_Banner_v2.gif" border="0" />
</a>
</div>


<div id="content">


 <div id="left-col">
   <ul id="crc_menu" class="MenuBarVertical">
    <li><a href="index.html">Home</a>  </li>
    <li><a href="#" class="MenuBarItemSubmenu">People</a>
      <ul>
        <li><a href="people_faculty.htm">Faculty</a></li>
        <li><a href="people_postdoc.htm">Postdocs</a></li>
      </ul>
    </li>
    <li><a class="MenuBarItemSubmenu" href="#">Research</a>
      <ul>
        <li><a href="research_topics.htm">Topics</a></li>
        <li><a href="research_papers.htm">Papers</a></li>
      </ul>
    </li>
    <li><a href="groups.htm">Working Groups</a></li>
    <li><a href="courses.htm">Courses</a></li>
    <li><a href="calendar.htm">Calendar</a></li>
    <li><a href="positions.htm">Positions</a></li>
    <li><a href="contact.htm">Contact</a></li>
	<li><a href="conference.htm"><b>Conference</b></a></li>
  </ul>
</div>
 
 <div id="one-col">
 <!-- InstanceBeginEditable name="center" -->
 <div id="title">
<a href="img/RhythmicDynamicsCognition_crc2013.pdf" target=blank> 
Rhythmic Dynamics and Cognition</a>
 </div>
<h2>June 4-5, 2013</h2>
<p><a href="img/RhythmicDynamicsCognition_crc2013.pdf" target=blank>View 
Poster Here</a></p>
<p>The Rhythmic Dynamics and Cognition Conference is a two-day event sponsored by the <a href="http://cogrhythms.bu.edu/">Cognitive Rhythms Collaborative (CRC)</a>. The program will be held at the Brain Building (Building 46) on the MIT campus (Room 3002) and will include lectures, a reception, and a poster session. Registration for each day is free but required by May 20, and is done through <a href="http://crc_conference.eventbrite.com">crc_conference.eventbrite.com</a>. Lunches will be provided.</p>
<p>Out of town guests should make their own reservations in Boston (click <a href="http://web.mit.edu/institute-events/visitor/stay.html">here</a> for hotels in the area). Please note that the conference dates are close to MIT graduation, so it is important to book early.</p>
<p>If you are interested in presenting a poster, please register at <a href="http://crc_conference.eventbrite.com">crc_conference.eventbrite.com</a> by May 1 and send your title and abstract to xiaoshi@bu.edu.  </p>
<p>Invited speakers include:</p>
<ul class="bullets">
<li>Pascal Fries, (Ernst Strungmann Institute (ESI), Frankfurt)</li>
<li>Elizabeth Buffalo (Emery University)</li>
<li>Charlie Schroeder (Nathan Kline Institute)</li>
<li>Peter Brown (University College London)</li>
<li>Fiona Le Beau (Newcastle University)</li>
<li>Earl Miller (MIT)</li>
<li>Charlie Wilson (University of Texas, San Antonio)</li>
<li>Peter Uhlhaas (University of Glasgow)</li>
<li>Christa van Dort (Mass. General Hospital)</li>
<li>Markus Siegal (University of Tubingen)</li>
<li>Robert Knight (UC Berkely)</li>
</ul>
<br/>
<h2>Organizing Committee:</h2>
<ul class="bullets">
<li>E. Boyden</li>
<li>U. Eden</li>
<li>M. Hamalainen</li>
<li>S. Jones</li>
<li>N. Kopell</li>
<li>M. Kramer</li>
<li>E. Miller</li>
</ul>
<br/>

<h1><a name="schedule">Tentative Schedule:</a></h1>

<h3>June 4</h3> 

<h2>Morning Session 1: 9:00 - 10:30</h2>
<ul class="bullets">
<li>Beth Buffalo: Rhythmic neural activity and memory formation</li>
<li>Pascal Fries: Attentional selection and top-down signaling through 
inter-areal beta- and gamma-band synchronization.&nbsp;</li>
</ul>
<h2>Coffee Break: 10:30 - 11:00</h2>
<h2>Morning Session 2: 11:00 - 12:30</h2>
<ul class="bullets">
<li>Earl Miller: Brain Rhythms and Executive Control</li>
<li>Markus Siegel: Spectral fingerprints of large-scale neuronal 
interactions.&nbsp;</li>
</ul>
<h2>Lunch: 12:30 - 2:15</h2>
<h2>Afternoon: 2:15 - 4:30</h2>
<ul class="bullets">
<li>Bob Knight: &nbsp;Oscillations and Human Prefrontal Cortex.&nbsp;</li>
<li>Fiona leBeau: Region specific differences in the generation and 
modulation of fast network oscillations in the rodent prefrontal cortex in 
vitro and in vivo.</li>
<li>Peter Uhlhaas: Neural Oscillations in Schizophrenia: Perspectives from 
MEG.</li>
</ul>
<h3>Reception, poster session: 4:30 - 7</h3>
</br>
<h3>June 5</h3>
<h2>Morning 9:00 - 12:15</h2>
<ul class="bullets">
<li>Charlie Schroeder: Neuronal Dynamics Underlying Temporal 
Prediction</li>
<li>Peter Brown: Basal ganglia beta: idling, blocking or maintaining the 
status quo?</li>
<li>15 min break</li>
<li>Charles Wilson: Frequency Tuning of Striatal Interneurons.</li>
<li>Christa van Dort: Optogenetic Activation of Cholinergic Neurons in the 
PPT Induces REM Sleep.</li>
</ul>
<h2>Lunch: 12:15 - 2:00</h2>
<h2>Afternoon: 2:00 - 5:15 (emphasis on data analysis)</h2>
<ul class="bullets">
<li>Rosalyn Moran: Dynamic Causal Models to unpack the physiological 
connectivity of oscillatory brain networks.</li>
<li>Bijan Peseran: Neuronal dynamics during coordination and 
decision.</li>
<li>15 min break</li>
<li>Liam Paninski TBA</li>
<li>Astrid Prinz: Recovery of rhythmic in a pattern-generating circuit 
after injury</li>
</ul>
<br/>

<h1><a name="posters">Poster Sessions</a></h1>
<ul class="sessions">
  <li ng-repeat="session in sessions">
    <br/>
    <h3>{{session.Session}}</h3>
    <ul class="bullets">
      <li ng-repeat="theme in session.Themes">
        <h2>{{theme.Name}}</h2>
          <ul class="bullets">
            <li ng-repeat="poster in theme.Posters">
              {{poster.Author}}: <i>{{poster.Title}}</i>
            </li>
          </ul>
      </li>
    </ul>
  </li>
</ul>
 <!-- InstanceEndEditable -->
 </div>
 
</div>





<div id="foot">
  <div id="footer-content">
				<a href="http://www.bu.edu" target="_blank"><img src="images/BUlogo.gif" border="0" height="47" width="105" alt="Boston University"/></a>
                <a href="http://www.mit.edu" target="_blank"><img src="img/logo_mit.png" border="0" height="47" alt="MIT"/></a>
                <a href="http://www.harvard.edu" target="_blank"><img src="http://www.trademark.harvard.edu/trademark_protection/image004.jpg" height="48" alt="Harvard University"/></a>
                <a href="http://www.massgeneral.org" target="_blank"><img src="http://old.epilepsyfoundation.org/local/massri/images/MGH-Logo_2.jpg" height="48" alt="Mass General Hospital"/></a>
                <a href="http://www.nmr.mgh.harvard.edu/martinos/" target="_blank"><img src="http://www.nmr.mgh.harvard.edu/martinos/userInfo/operations/martinos_logo_big.jpg" height="48" alt="Martinos Imaging Center"/></a>
                <a href="http://www.nsf.org" target="_blank"><img src="img/nsf.jpg" border="0" height="49" width="61" alt="National Science Foundation"/></a>
                <a href="http://mcgovern.mit.edu" target="_blank"><img src="img/logo_mcgovern.jpg" width="48" height="48" alt="McGovern Institute" /></a>
 <p>
 <b>Cognitive Rhythms Collaborative</b><br />
 111 Cummington Street<br />
 Boston, MA 02215<br />
 <br />
 <b>Phone:</b> 617-353-4587<br />
 <b>Fax:</b> 617-353-4889
 </p>
  </div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-862209-4");
pageTracker._trackPageview();
} catch(err) {}
var MenuBar1 = new Spry.Widget.MenuBar("crc_menu", {imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
</script>
</body>
<!-- InstanceEnd --></html>
