<div id="foot">
  <div id="footer-content">
				<a href="http://www.bu.edu" target="_blank"><img src="images/BUlogo.gif" border="0" height="47" width="105" alt="Boston University"/></a>
                <a href="http://www.mit.edu" target="_blank"><img src="img/logo_mit.png" border="0" height="47" alt="MIT"/></a>
                <a href="http://www.harvard.edu" target="_blank"><img src="http://www.trademark.harvard.edu/trademark_protection/image004.jpg" height="48" alt="Harvard University"/></a>
                <a href="http://www.massgeneral.org" target="_blank"><img src="http://old.epilepsyfoundation.org/local/massri/images/MGH-Logo_2.jpg" height="48" alt="Mass General Hospital"/></a>
                <a href="http://www.nmr.mgh.harvard.edu/martinos/" target="_blank"><img src="http://www.nmr.mgh.harvard.edu/martinos/userInfo/operations/martinos_logo_big.jpg" height="48" alt="Martinos Imaging Center"/></a>
                <a href="http://www.nsf.org" target="_blank"><img src="img/nsf.jpg" border="0" height="49" width="61" alt="National Science Foundation"/></a>
                <a href="http://mcgovern.mit.edu" target="_blank"><img src="img/logo_mcgovern.jpg" width="48" height="48" alt="McGovern Institute" /></a>
 <p>
 <b>Cognitive Rhythms Collaborative</b><br />
 111 Cummington Street<br />
 Boston, MA 02215<br />
 <br />
 <b>Phone:</b> 617-353-4587<br />
 <b>Fax:</b> 617-353-4889
 </p>
  </div>
</div>
<script>
var MenuBar1 = new Spry.Widget.MenuBar("crc_menu", {imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
</script>