<br />

<div id="foot" class="container">
  <div id="footer-content" class="row">
    <b>Cognitive Rhythms Collaborative</b><br />
    111 Cummington Street<br />
    Boston, MA 02215<br />
    <br />
    <b>Phone:</b> 617-353-4587<br />
    <b>Fax:</b> 617-353-4889
  </div>
  
  <br />
  
  <div class="row">
    <div class="col-md-2">
      <a href="http://www.bu.edu" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}images/BUlogo.gif" border="0" height="47" width="105" alt="Boston University" /></a>
    </div>
    
    <div class="col-md-1">
      <a href="http://www.mit.edu" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}img/logo_mit.png" border="0" height="47" alt="MIT" /></a>
    </div>
    
    <div class="col-md-3">
      <a href="http://www.harvard.edu" target="_blank"><img src="http://www.harvard.edu/sites/all/themes/hedu2011hc/a/titles/logo.gif" height="48" alt="Harvard University" /></a>
    </div>
    
    <!-- <div class="col-md-1">
      <a href="http://www.massgeneral.org" target="_blank"><img src="http://old.epilepsyfoundation.org/local/massri/images/MGH-Logo_2.jpg" height="48" alt="Mass General Hospital" /></a>
    </div> -->
    
    <div class="col-md-1">
      <a href="http://www.nmr.mgh.harvard.edu/martinos/" target="_blank"><img src="http://www.nmr.mgh.harvard.edu/martinos/userInfo/operations/martinos_logo_big.jpg" height="48" alt="Martinos Imaging Center" /></a>
    </div>
    
    <div class="col-md-1">
      <a href="http://www.nsf.org" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}img/nsf.jpg" border="0" height="49" width="61" alt="National Science Foundation" /></a>
    </div>
    
    <div class="col-md-1">
      <a href="http://mcgovern.mit.edu" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}img/logo_mcgovern.jpg" width="48" height="48" alt="McGovern Institute" /></a>
    </div>
  </div>
</div>

<!-- Bootstrap -->
<!-- <script='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
<script src="{{ site.url }}{{ site.baseurl }}js/jquery-3.1.0.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}js/bootstrap.min.js"></script>
