<!DOCTYPE HTML>
<html lang="en-US" ng-app>

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
    <!--link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}css/reset.css" /-->
    <!-- <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}css/cbd.css" /> -->
    <!-- <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}css/crc_menu.css" /> -->
    <link rel="icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}favicon.png" />

    <!-- <script src="{{ site.url }}{{ site.baseurl }}SpryAssets/SpryMenuBar.js" type="text/javascript"></script> -->
  <!-- <script src="{{ site.url }}{{ site.baseurl }}SpryAssets/SpryAccordion.js" type="text/javascript"></script> -->
  <!-- <script src="{{ site.url }}{{ site.baseurl }}SpryAssets/SpryCollapsiblePanel.js" type="text/javascript"></script> -->
  <!-- <link href="{{ site.url }}{{ site.baseurl }}css/crc_accordion.css" rel="stylesheet" type="text/css" /> -->
  <!-- <link href="{{ site.url }}{{ site.baseurl }}SpryAssets/SpryCollapsiblePanel.css" rel="stylesheet" type="text/css" /> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
</head>
