<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Cognitive Rhythms Collaborative</a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a> </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">People <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.url }}{{ site.baseurl }}/people/faculty/">Faculty</a></li>
                        <li><a href="{{ site.url }}{{ site.baseurl }}/people/alumni/">Alumni</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Research <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.url }}{{ site.baseurl }}/research/topics/">Topics</a></li>
                        <li><a href="{{ site.url }}{{ site.baseurl }}/research/papers/">Papers</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.url }}{{ site.baseurl }}/groups/">Working Groups</a></li>
                <li><a href="{{ site.url }}{{ site.baseurl }}/courses/">Courses</a></li>
                <li><a href="{{ site.url }}{{ site.baseurl }}/news/">News</a></li>
                <li><a href="{{ site.url }}{{ site.baseurl }}/calendar/">Calendar</a></li>
                <li><a href="{{ site.url }}{{ site.baseurl }}/archive/">Archive</a></li>
                <!-- <li><a href="{{ site.url }}{{ site.baseurl }}/positions/">Positions</a></li> -->
                <!-- <li><a href="{{ site.url }}{{ site.baseurl }}/conference/">Conference</a></li> -->
                <li><a href="https://github.com/cogrhythms" target="_blank">Github</a></li>
                <li><a href="https://github.com/cogrhythms/nak-lab-notes/wiki" target="_blank">Wiki</a></li>
                <li><a href="{{ site.url }}{{ site.baseurl }}/contact/">Contact</a></li>
                <li><a href="https://github.com/cogrhythms/nak-lab-notes/wiki/New-to-CRC-Checklist" target="_blank">Join</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
