<ul id="crc_menu">
  <li><a href="{{ site.url }}{{ site.baseurl }}">Home</a>  </li>
  <li>People
    <ul>
      <li><a href="{{ site.url }}{{ site.baseurl }}people/faculty/">Faculty</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}people/postdoc/">Postdocs</a></li>
    </ul>
  </li>
  <li>Research
    <ul>
      <li><a href="{{ site.url }}{{ site.baseurl }}research/topics/">Topics</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}research/papers/">Papers</a></li>
    </ul>
  </li>
  <li><a href="{{ site.url }}{{ site.baseurl }}groups/">Working Groups</a></li>
  <li><a href="{{ site.url }}{{ site.baseurl }}courses/">Courses</a></li>
  <li><a href="{{ site.url }}{{ site.baseurl }}calendar/">Calendar</a></li>
  <li><a href="{{ site.url }}{{ site.baseurl }}positions/">Positions</a></li>
  <li><a href="{{ site.url }}{{ site.baseurl }}contact/">Contact</a></li>
  <li><a href="{{ site.url }}{{ site.baseurl }}conference/">Conference</a></li>
</ul>
