<div id="left-col">
  <ul id="crc_menu" class="MenuBarVertical">
    <li><a href="{{ site.url }}/index.html">Home</a>  </li>
    <li><a href="#" class="MenuBarItemSubmenu">People</a>
      <ul>
        <li><a href="{{ site.url }}/people_faculty.htm">Faculty</a></li>
        <li><a href="{{ site.url }}/people_postdoc.htm">Postdocs</a></li>
      </ul>
    </li>
    <li><a class="MenuBarItemSubmenu" href="#">Research</a>
      <ul>
        <li><a href="{{ site.url }}/research_topics.htm">Topics</a></li>
        <li><a href="{{ site.url }}/research_papers.htm">Papers</a></li>
      </ul>
    </li>
    <li><a href="{{ site.url }}/groups.htm">Working Groups</a></li>
    <li><a href="{{ site.url }}/courses.htm">Courses</a></li>
    <li><a href="{{ site.url }}/calendar.htm">Calendar</a></li>
    <li><a href="{{ site.url }}/positions.htm">Positions</a></li>
    <li><a href="{{ site.url }}/contact.htm">Contact</a></li>
  	<li><a href="{{ site.url }}/conference.htm"><b>Conference</b></a></li>
  </ul>
</div>