<ul id="crc_menu">
  <li><a href="{{ site.url }}{{ site.baseurl }}">Home</a>  </li>
  <li><a href="{{ site.url }}{{ site.baseurl }}contact/">Contact</a></li>
  <li>People
    <ul>
      <li><a href="{{ site.url }}{{ site.baseurl }}people/faculty/">Faculty</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}people/postdoc/">Postdocs</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}people/positions/">Positions</a></li>
    </ul>
  </li>
  <li>Academics
    <ul>
      <li><a href="{{ site.url }}{{ site.baseurl }}research/topics/">Research Topics</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}research/papers/">Publications</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}research/groups/">Working Groups</a></li>    
      <li><a href="{{ site.url }}{{ site.baseurl }}courses/">Courses</a></li>
    </ul>
  </li>
  <li>Events
    <ul>
      <li><a href="{{ site.url }}{{ site.baseurl }}conference/">Conference</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}archive/">Calendar Archive</a></li>
    </ul>
  </li>
</ul>
