<!DOCTYPE HTML>
<html lang="en-US" ng-app>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}css/reset.css" />
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}css/cbd.css" />
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}css/crc_menu.css" />
  <link rel="icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}favicon.png" />
	
  <script src="{{ site.url }}{{ site.baseurl }}SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
</head>
